    <div class="col m6 offset-m3 s10 offset-s1 " style="position: relative;">
      <div class="card blue darken-4 white-text col s12 signup_box">
        <div class="card-content">
          <div class="login_border_left_side white"></div>
          <span class="card-title activator"><strong>SignUp</strong><a class="right white-text close_signup_button"><i class="material-icons">close</i></a></span>

          <!-- form start -->
          <form >
            <div class="row">
              <div class="input-field col s12 ">
                <i class="material-icons prefix">perm_identity</i>
                <input id="username" type="text" class="validate">
                <label for="username" class="white-text">User Name</label>
              </div>
              <div class="input-field col s12 ">
                <i class="material-icons prefix">account_circle</i>
                <input id="email" type="email" class="validate" >
                <label for="email" class="white-text">Email</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input id="password" type="password" class="validate">
                <label for="password" class="white-text">Password</label>
              </div>
              <div class="col s12 center-align"><br>
                  <a class="waves-effect waves-light btn-large white blue-text text-darken-4">
                      <i class="material-icons right">lock_outline</i><strong>Sign Up</strong>
                  </a>

              </div>
            </div>
          </form>

        </div>
       
      </div>
    </div>