  <div class="card_panel_center">
   <div class="col s12 " style="position: relative;">
      <div class="card  grey-text text-darken-4 signup_box">
        <div class="card-content">
          <div class="login_border_left_side blue darken-4"></div>
         <span class="card-title blue-text text-darken-4"><strong>SignUp</strong><a class="right blue-text text-darken-4 close_signup_button"><i class="material-icons">close</i></a></span>
          <!-- form start -->
          <form class="signup-form">
            <div class="row margin">
              <div class="input-field col s12">
               <i class="material-icons prefix">perm_identity</i>
                <input id="username" type="text">
                <label for="username">Username</label>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
               <i class="material-icons prefix">account_circle</i>
                <input class="validate" id="email" type="email">
                <label for="email" data-error="wrong" data-success="right">Email</label>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
               <i class="material-icons prefix">lock</i>
                <input id="password" type="password">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
               <i class="material-icons prefix">lock</i>
                <input id="repassword" type="password">
                <label for="repassword">Repassword</label>
              </div>
            </div>
             <div class="row">
              <div class=" col s12 m12 l12">
                <p class="margin medium-small col s12"><a class="waves-effect col s12  waves-light btn-large blue darken-4">Register</a></p>
              </div>
              <div class=" col s12 m12 l12 right" style="padding: 5% 5% 0 0;">
                  <p class="margin grey-text right-align medium-small ">
                  Already have an account &nbsp;
                   <a class="right close_signup_button">Login</a></p>
              </div>          
            </div>
             
          </form>
        </div>
      </div>
    </div>
  </div>
