  <div class="card_panel_center">
   <div class="col s12 " style="position: relative;">
      <div class="card z-depth-4  grey-text text-darken-4 forgetpassword">
        <div class="card-content">
          <div class="login_border_left_side blue darken-4"></div>
         <span class="card-title blue-text text-darken-4"><strong>Forget Password</strong></span>
          <!-- form start -->
          <form class="forgetpassword-form">
            <div class="row margin">
              <div class="input-field col s12 margin">  
                <p class="text-flow grey-text ">You can request your Password by entering your Email Address</p>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
               <i class="material-icons prefix">account_circle</i>
                <input class="validate" id="email" type="email">
                <label for="email" data-error="wrong" data-success="right">Email</label>
              </div>
            </div>
             <div class="row">
              <div class=" col s12 m12 l12">
                <p class="margin medium-small col s12"><a class="waves-effect col s12  waves-light btn-large blue darken-4">SUBMIT</a></p>
              </div>
            </div>
          </form>
            <div class="row margin">
              <div class="col s12">
                <div class="col s6 blue-text"><a class="login_panel">Login</a></div>
                <div class="col s6 right blue-text">
                    <a class="align-right right register_panel">Register</a>
                </div>
              </div>
            </div>    
        </div>
      </div>
    </div>
  </div>
