/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";
*{
    box-sizing: border-box !important;
}



/**********************...... Login & sign up form Css......*******************/
 a {	cursor: pointer;}

.background_images {
	background: url("assets/img/back2.jpg");
	background-attachment:fixed;
}
.main{
	padding: 4.6% 0;
}
.margin{margin: 0 !important;}
.btn_hover_scale:hover{transform: scale(1.1);box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);  }
.btn_hover:hover{transform: translateY(-3px);box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);  }
.login_signup_button{	position: relative;right: -50px;	}
.login_border_left_side{width: 4px; height: 45px;position: absolute;left: 0px;}
.login_box {   
	 animation: fade_up ease-in-out 1s 1;
	 border-radius: 2px;
}
.signup_box{	
	animation: fade_up ease-in-out 1s 1;
	border-radius: 2px;
	display: none;
}
.forgetpassword{
	animation: fade_up ease-in-out 1s 1;
	border-radius: 2px;
	display: none;
}
@-webkit-keyframes move {
    from { background-position: 0% 5%  }
    to {  background-position:0% 187%  }
}
@keyframes fade_up {
   0% { opacity: 0; transform: scale(.5) }
   50%{ opacity: 1;	transform: scale(1)}
}

/* ........Responsive Elements.......*/
@media only screen and (min-width:300px) and (max-width: 640px) {
   .h2_in_small_screen{ font-size: 35px; }
	.login_signup_button{right: 0px !important;	}
	.main{	padding: 6% 0 4.6% 0;}
}
@media only screen and (min-width:400px) and (max-width: 768px) {

} /* ......../Responsive Elements.......*/

/* Only For Login Form SignUp form Responsive card width  margin */
.card_panel_center{padding:0% 35%;}
@media only screen and (max-width: 1200px) {
.card_panel_center{padding:0% 33%;}
}
@media only screen and (max-width: 1100px) {
.card_panel_center{padding:0% 31%;}
}
@media only screen and (max-width: 1000px) {
.card_panel_center{padding:0% 30%;}
}
@media only screen and (max-width: 950px) {
.card_panel_center{padding:0% 28%;}
}
@media only screen and (max-width: 900px) {
.card_panel_center{padding:0% 26%;}
}
@media only screen and (max-width: 800px) {
.card_panel_center{padding:0% 24%;}
}
@media only screen and (max-width: 700px) {
.card_panel_center{padding:0% 20%;}
}
@media only screen and (max-width: 600px) {
.card_panel_center{padding:0% 15%;}
}
@media only screen and (max-width: 500px) {
.card_panel_center{padding:0% 10%;}
}
@media only screen and (max-width: 450px) {
.card_panel_center{padding:0% 8%;}
}
@media only screen and (max-width: 400px) {
.card_panel_center{padding:0% 2%;}
}
@media only screen and (max-width: 350px) {
.card_panel_center{padding:0% 0%;}
}
@media only screen and (max-width: 300px) {
.card_panel_center{padding:0% 0%;}
}  /* /Endz here Only For Login Form SignUp form Responsive card width  margin */



/***********************......Endz of Login & sign up form Css......*******************/


